---
layout: default
title: Portfolio
---

{% include navigation.html %}


<main class="mx-auto px-4 sm:px-6 md:px-8 xl:px-12 w-full max-w-[52rem] lg:max-w-6xl transition-all duration-300" id="main">
    <header class="py-16 sm:text-center">
        <h1 class="mb-4 text-3xl sm:text-4xl tracking-tight text-slate-200 font-extrabold">{{ page.title }}</h1>
        <div class="sm:max-w-[27rem] mx-auto">
            <p class="text-lg text-slate-400">My design portfolio filled with a handpicked collection of my creative endeavors, organized chronologically.</p>
        </div>
    </header>

    <div class="swiper swiper-theme">
        <div class="mx-auto md:pb-20 pb-10">
            <div class="heading-line">
                <time datetime="2024">2024</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2024-design-42-dev-culture-and-referrals.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">Creating engaging communication materials for 42 Solutions: Development culture & referral program</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Publication Design</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">Animated Preview</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2024-landing-bkb-su.webp" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">Breaking Bad TON jetton: Landing page design & development</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">UI Design</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Animation</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">Animated Preview</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2024-landing-ssl-ton.webp" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        Enhancing user experience: <a href="/2024/02/13/revamping-the-ssl-token-website.html" target="_blank">SSL TON jetton landing page revamp</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">UI Design</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                </div>
            </figure>
        </div>
        
        <div class="mx-auto md:pb-20 pb-10">
            <div class="heading-line">
                <time datetime="2023">2023</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2023-design-42-certs.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        Modern <a href="/2023/12/18/designing-achievement-certificates.html" target="_blank">achievement certificates design for 42 Solutions</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Graphic Design</span>

                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">Animated Preview</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2023-design-skeletons-for-hatone.webp" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        Pixel art animation: <a href="/2023/07/05/sprites-for-hatone.html" target="_blank">Enemies for Hatone game</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Pixel Art</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Animation</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">CodePen</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2023-design-8-march.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="https://codepen.io/elsemeow/full/ZEMXOZM" target="_blank">"Happy Women's Day 2023"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Graphic Design</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2023-design-stickers-crypto.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">Stickers for the crypto community</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Sticker Design</span>
                </div>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10 pt-8 relative">
            <div class="heading-line">
                <time datetime="2022">2022</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2022-design-starfounder-vengeance-iii.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        Starfounder - Vengeance III: <a href="/2022/12/26/cover-art-for-starfounder.html" target="_blank">Album cover art design</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Graphic Design</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2022-design-42-new-year.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">42 Solutions social media New Year 2023 banner design</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Graphic Design</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2022-design-42-t-shirt.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">42 Solutions merch T-Shirt design</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Merchandise Design</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2022-design-meowgine.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        Designing the title image for <a href="https://github.com/elsemeow/meowgine" target="_blank">Meowgine</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Graphic Design</span>
                </div>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10 pt-8 relative">
            <div class="heading-line">
                <time datetime="2021">2021</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2021-codepen-100-followers.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="/2023/08/30/redesign-of-my-personal-website.html" target="_blank">"House flying over the island"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Animation</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Interactive</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">CodePen</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2021-codepen-mad-maze.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="https://codepen.io/elsemeow/full/vYxyYWX" target="_blank">"Mad Maze"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Game</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">CodePen</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2021-codepen-koi-fish-and-water-lily.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="https://codepen.io/elsemeow/full/KKWzzpZ" target="_blank">"Koi Fish & Water Lily"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Interactive</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">CodePen</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2021-codepen-paper-penguin.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="https://codepen.io/elsemeow/full/yLMybbN" target="_blank">"Paper Penguin"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Interactive</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">Animated Preview</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2021-website-lesenka.webp" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        Website for <a href="https://aba-lesenkann.ru/" target="_blank">aba-lesenkann.ru</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">UI Design</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Backend</span>
                </div>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10 pt-8 relative">
            <div class="heading-line">
                <time datetime="2020">2020</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">CodePen</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2020-codepen-help-to-warm-up-jack.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="https://codepen.io/elsemeow/full/XWjzNvO" target="_blank">"Help to Warm Up Jack"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Animation</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Interactive</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">CodePen</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2020-codepen-the-hidden-gifts.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="https://codepen.io/elsemeow/full/mdrrZPe" target="_blank">"The Hidden Gifts"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">UI Design</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Animation</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Interactive</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">CodePen</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2020-codepen-the-birth-of-shape.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="https://codepen.io/elsemeow/full/bGpJJrx" target="_blank">"The Birth of Shape"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Animation</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">CodePen</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2020-codepen-mice-chaser.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="https://codepen.io/elsemeow/full/WNwPNog" target="_blank">"Mice Chaser"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Game</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">CodePen</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2020-codepen-magic-404-ball.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="https://codepen.io/elsemeow/full/zYbWdzw" target="_blank">"Magic 404-Ball"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">UI Design</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Animation</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Interactive</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm w-full max-w-sm"" src="/assets/images/portfolio/2020-design-school-logo-draft.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">School logo draft</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Graphic Design</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">Animated Preview</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2020-design-devils-delirium-logo.webp" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="/2020/11/08/devil-s-delirium-logo.html" target="_blank">Devil's Delirium logo</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Pixel Art</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Animation</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">CodePen</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2020-codepen-gomoku.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        <a href="https://codepen.io/elsemeow/full/KKdEQjr" target="_blank">"Gomoku"</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Game</span>
                </div>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10 pt-8 relative">
            <div class="heading-line">
                <time datetime="2019">2019</time>
            </div>
        </div>

        <div>
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/portfolio/2019-frontend-askona-info-kiosk.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">Info kiosk design and frontend for Askona</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">UI Design</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                </div>
            </figure>
        </div>
    </div>
</main>

{% include footer.html %}