---
layout: default
title: Portfolio
---

{% include navigation.html %}


<main class="mx-auto px-4 sm:px-6 md:px-8 xl:px-12 w-full max-w-[52rem] lg:max-w-6xl transition-all duration-300" id="main">
    <header class="py-16 sm:text-center">
        <h1 class="mb-4 text-3xl sm:text-4xl tracking-tight text-slate-200 font-extrabold">{{ page.title }}</h1>
        <div class="sm:max-w-[27rem] mx-auto">
            <p class="text-lg text-slate-400">My design portfolio filled with a handpicked collection of my creative endeavors, organized chronologically.</p>
        </div>
    </header>

    <div class="swiper swiper-theme">
        <div class="mx-auto md:pb-20 pb-10">
            <div class="heading-line">
                <time datetime="2023">2023</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure>
                <img src="/assets/images/portfolio/42-certs.png" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5"><a href="/2023/12/18/designing-achievement-certificates.html" target="_blank">Achievement certificates design</a> for 42 Solution</figcaption>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure>
                <img src="/assets/images/portfolio/8-march.png" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5"><a href="https://codepen.io/elsemeow/full/ZEMXOZM" target="_blank">"Happy Women's Day 2023"</a> сard design</figcaption>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure>
                <img src="/assets/images/portfolio/stickers-crypto-t.png" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5">Stickers for the crypto project</figcaption>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10 pt-8 relative">
            <div class="heading-line">
                <time datetime="2022">2022</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure>
                <img src="/assets/images/portfolio/starfounder-vengeance-iii.png" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5"><a href="/2022/12/26/cover-art-for-starfounder.html" target="_blank">Cover art for Starfounder</a></figcaption>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure>
                <img src="/assets/images/portfolio/42-2023-card.png" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5">New Year 2023 banner for 42 Solution</figcaption>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure>
                <img src="/assets/images/portfolio/42-t-shirts.png" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5">T-shirt design for 42 Solution</figcaption>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure>
                <img src="/assets/images/portfolio/meowgine.png" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5">Title image for <a href="https://github.com/elsemeow/meowgine" target="_blank">Meowgine</a></figcaption>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10 pt-8 relative">
            <div class="heading-line">
                <time datetime="2021">2021</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="VwbdvGP" data-preview="true" data-user="elsemeow" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/elsemeow/pen/VwbdvGP">
                100 Followers 🥳</a> by Maxim Belov (<a href="https://codepen.io/elsemeow">@elsemeow</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="prose prose-invert md:mt-8 mt-5">Animated SVG "House flying over the island"</p>
        </div>

        <div class="md:mb-20 mb-10">
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="KKWzzpZ" data-preview="true" data-user="elsemeow" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/elsemeow/pen/KKWzzpZ">
                Koi Fish &amp; Water Lily</a> by Maxim Belov (<a href="https://codepen.io/elsemeow">@elsemeow</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="prose prose-invert md:mt-8 mt-5">"Koi Fish & Water Lily"</p>
        </div>

        <div class="md:mb-20 mb-10">
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="yLMybbN" data-preview="true" data-user="elsemeow" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/elsemeow/pen/yLMybbN">
                Paper Penguin</a> by Maxim Belov (<a href="https://codepen.io/elsemeow">@elsemeow</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="prose prose-invert md:mt-8 mt-5">"Paper Penguin"</p>
        </div>

        <div class="md:mb-20 mb-10">
            <figure>
                <img src="/assets/images/portfolio/lesenka.webp" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5">Design and site for <a href="https://aba-lesenkann.ru/" target="_blank">aba-lesenkann.ru</a></figcaption>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10 pt-8 relative">
            <div class="heading-line">
                <time datetime="2020">2020</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="bGpJJrx" data-preview="true" data-user="elsemeow" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/elsemeow/pen/bGpJJrx">
                The Birth of Shape</a> by Maxim Belov (<a href="https://codepen.io/elsemeow">@elsemeow</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="prose prose-invert md:mt-8 mt-5">"The Birth of Shape"</p>
        </div>

        <div class="md:mb-20 mb-10">
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="WNwPNog" data-preview="true" data-user="elsemeow" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/elsemeow/pen/WNwPNog">
                Mice Chaser</a> by Maxim Belov (<a href="https://codepen.io/elsemeow">@elsemeow</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="prose prose-invert md:mt-8 mt-5">"Mice Chaser" mini-game</p>
        </div>

        <div class="md:mb-20 mb-10">
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="zYbWdzw" data-preview="true" data-user="elsemeow" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/elsemeow/pen/zYbWdzw">
                Magic 404-Ball (2020 Archive)</a> by Maxim Belov (<a href="https://codepen.io/elsemeow">@elsemeow</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="prose prose-invert md:mt-8 mt-5">"Magic 404-Ball"</p>
        </div>

        <div class="md:mb-20 mb-10">
            <figure>
                <img class="w-full max-w-sm" src="/assets/images/portfolio/draft-logo-school.png" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5">School logo draft</figcaption>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure>
                <img src="/assets/images/portfolio/devils-delirium-logo.webp" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5"><a href="/2020/11/08/devil-s-delirium-logo.html" target="_blank">Devil's Delirium logo</a></figcaption>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10 pt-8 relative">
            <div class="heading-line">
                <time datetime="2019">2019</time>
            </div>
        </div>

        <div>
            <figure>
                <img src="/assets/images/portfolio/askona-terminal.png" alt="" loading="lazy">
                <figcaption class="prose prose-invert md:mt-8 mt-5">Info kiosk design and frontend for Askona</figcaption>
            </figure>
        </div>

        <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    </div>
</main>

{% include footer.html %}