---
layout: default
title: Showcase
---

{% include navigation.html %}


<main class="mx-auto px-4 sm:px-6 md:px-8 xl:px-12 w-full max-w-[52rem] lg:max-w-6xl transition-all duration-300" id="main">
    <header class="py-16 sm:text-center">
        <h1 class="mb-4 text-3xl sm:text-4xl tracking-tight text-slate-200 font-extrabold">{{ page.title }}</h1>
        <div class="sm:max-w-[27rem] mx-auto">
            <p class="text-lg text-slate-400">Chronologically organized handpicked collection of my creative endeavors</p>
        </div>
    </header>

    <div class="swiper swiper-theme">
        <div class="mx-auto md:pb-20 pb-10">
            <div class="heading-line">
                <time datetime="2025">2025</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/showcase/2025-r34-ton.jpg" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">Rule 34 TON</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">NFT Collection</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Telegram Bot</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Design</span>
                </div>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10">
            <div class="heading-line">
                <time datetime="2024">2024</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/showcase/2024-42-dev-culture-and-referrals.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">Creating engaging communication materials for 42 Solutions: Development culture & referral program</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Design</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">Animated Preview</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/showcase/2024-landing-bkb-su.webp" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">Breaking Bad TON jetton: Landing page design & development</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Design</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Frontend</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Animation</span>
                </div>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10">
            <div class="heading-line">
                <time datetime="2023">2023</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/showcase/2023-42-certs.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        Modern achievement certificates design for 42 Solutions
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Design</span>

                </div>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10 pt-8 relative">
            <div class="heading-line">
                <time datetime="2022">2022</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/showcase/2022-starfounder-vengeance-iii.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        Starfounder - Vengeance III: <a href="/2022/12/26/cover-art-for-starfounder.html">Album cover art design</a>
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Design</span>
                </div>
            </figure>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/showcase/2022-42-new-year.png" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">42 Solutions social media New Year 2023 banner design</span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Design</span>
                </div>
            </figure>
        </div>

        <div class="mx-auto md:pb-20 pb-10 pt-8 relative">
            <div class="heading-line">
                <time datetime="2020">2020</time>
            </div>
        </div>

        <div class="md:mb-20 mb-10">
            <figure class="group relative rounded-2xl lg:rounded-3xl p-4 lg:p-6 bg-slate-800/80 highlight-white/5">
                <div class="absolute top-4 lg:top-6 right-4 lg:right-6 bg-slate-800 px-3 py-1 text-slate-300 text-xs rounded-tr-md rounded-bl-2xl highlight-white/5 border-solid border-b-4 lg:border-b-8 border-b-slate-950 border-l-4 lg:border-l-8 border-l-slate-950">Animated Preview</div>
                <div class="rounded-md shadow-inner bg-slate-950 p-1 lg:p-2 overflow-hidden flex items-center justify-center">
                    <img class="rounded-sm" src="/assets/images/showcase/2020-devils-delirium-logo.webp" alt="" loading="lazy">
                </div>
                <figcaption class="prose prose-invert mt-4 lg:mt-6">
                    <span class="text-sm leading-6">
                        Devil's Delirium logo design
                    </span>
                </figcaption>
                <div class="mt-1">
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Pixel Art</span>
                    <span class="inline-block text-xs leading-5 font-medium text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 mt-4 mr-1">Animation</span>
                </div>
            </figure>
        </div>
    </div>
</main>

{% include footer.html %}